.content > p {
  line-height: 7px;
}

.content {
  width: 320px;
}

p:nth-child(1) {
  font-size: 24px;
  font-weight: 300;
}

p:nth-child(2) {
  font-size: 14px;
  color: grey;
}

p:nth-child(3) {
  font-size: 14px;
}

.content {
  margin-left: 45px;
}
